@import 'base/variables';

@import 'base/normalize';
@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';

body {
	padding-bottom:25px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}

html {
	box-sizing:border-box;
}

* {
	box-sizing:inherit;
}

img {
	max-width:100%;
}

.header {
	min-height:25vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.header__imageWrap {
	max-width:65%;
	margin:20px auto;
}

.hero{
	width:100%;
	min-height:25vh;
	background-color:#1459fe;
	display:flex;
	align-items:center;
}

.hero__innerWrap {
	width:85%;
	margin:0 auto;
}

.hero__text {
	color:#fff;
	font-weight:bold;
	font-size:4vh;
	line-height:6vh;
	margin-top:2vh;
	margin-bottom:2vh;
}

.lede {
	width:85%;
	margin:0 auto;
}

.lede__p{
	font-weight:normal;
	font-size:3vh;
	line-height:5vh;
	color:#737373;
}

.jobSearch {
	overflow:auto;
	display:flex;
	align-items:baseline;
	color:#737373;
}

.jobSearch__innerWrap {
	width:85%;
	margin:0 auto;
}

.jobSearch__col45{
	width:100%;
	float:left;
}

.jobSearch__floaty {
	float:right;
	padding-top:0em;
		p {
			margin-top:0px;
			margin-bottom:0px;
		}
		a{
			font-size: 11px;
		    color: #77c;
		    white-space: nowrap;
		    text-decoration: none;
		    &:hover{
		    	text-decoration: underline;
		    }
		}
}

.jobSearch__labelWrap {
	margin-top:0px;
	margin-bottom:0px;
	position:relative;
	bottom:-0.5em;
	font-size:14pt;
	font-weight:bold;
}

label{
	cursor:pointer;
}

.jobSearch__btn {
	font-family:Arial;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#3163f2),to(#2b57d5));
	background-color:#3163f2;
	border: 1px solid #1c4ed9;
    border-top-color: #2f62f1;
    border-bottom-color: #133fbb;
	color:#fff;
	margin-top:8px; 
	font-size:15px;
	line-height:15px;
	padding:6px 9px;
	border:1px solid #1c4ed9;border-top-color:#2f62f1;border-bottom-color:#133fbb;display:inline-block;width:auto
}

.jobSearch__supplementalLink {
	font-size:11px;
}

.label {
	color:#f60;
}

.txt{
	width:99%;
    font-size: 18px;
    padding: 3px 6px;
}



@media only screen and (min-width: 1000px){
	.header{min-height:30vh;}

	.jobSearch__col45{
		width:45%;
		float:left;
	}

	.jobSearch__floaty {
		float:left;
		padding-top:2em;
		width:10%;

	}

	.hero__text {
		font-size:5vh;
	}

	.lede__p{
		font-size:4vh;
		line-height:6vh;
	}

}
